<div id="documents" class="documents-<%= @document_index_view_type %>">
  <% count = 1 %>
  <% @documents.each_with_index do |document, i| %>
    <% blacklight_config.index_fields.each do |field_name, field| %>
      <% if should_render_index_field?(document, field) %>
        <% if document.has_highlight_field?(field_name) %>
          <div class="documentHeader row">
            <h3 class="index_title document-title-heading col-md-12">
              <%= link_to document['title_display'], solr_document_path(document, counter: count, q: params[:q]) %>
            </h3>
          </div>

          <% document.highlight_field(field_name).each_with_index do |value, k| %>
            <div class="document <%= render_document_class(document) %> document-position-<%= count %>"
                 data-document-counter="<%= count %>"
                 itemscope
                 itemtype="<%= document.itemtype %>">
              <dl class="document-metadata dl-horizontal dl-invert dl-full-text">
                <dd class="blacklight-<%= field_name.parameterize %>">
                  <%= render_index_field_value(document: document, field: field_name) || value.html_safe %>
                </dd>
              </dl>
            </div>
            <% break if k >= 4 %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if @more %>
    <%= link_to 'Load More Results', request.params.merge(highlight_page: @highlight_page + 1), class: 'load-more' %>
  <% end %>
  <div class="spinner"></div>
</div>
