<%-
  # Compare with render_document_functions_partial helper, and
  # _document_functions partial. BL actually has two groups
  # of document-related tools. "document functions" by default
  # contains Bookmark functionality shown on both results and
  # item view. While "document tools" contains external export type
  # functions by default only on detail.
  # OVERRIDE: Blacklight v7.33.1 to provide themeing for clients needs
-%>
<% if show_doc_actions? %>
  <div id="accordion-tools" class="u-accordion u-accordion-color-primary u-accordion-brd-primary pull-right" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default show-tools u-accordion__header g-pa-0" role="tab">
      <a class="d-block g-color-main g-text-underline--none--hover collapsed" href="#accordion-tools-body-0" data-toggle="collapse" data-parent="#accordion-tools" aria-expanded="false"  aria-controls="accordion-tools-body-0">

        <div class="panel-heading card show-tools">

          <div class="card-header">
            <h2 class="mb-0 h6"><%= t('blacklight.tools.title') %>
              <span class="u-accordion__control-icon g-ml-10">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-angle-down"></i>
              </span>
            </h2>
          </div>

        </div>
      </a>
      <div id="accordion-tools-body-0" class="collapse panel-body" role="tabpanel" aria-labelledby="accordion-tools-heading-0">
      <% if render_show_doc_actions_method_from_blacklight? %>
        <%= render(Blacklight::Document::ActionsComponent.new(document: @document, tag: 'ul', classes: 'list-group list-group-flush', wrapping_tag: 'li', wrapping_classes: 'list-group-item', actions: document_actions(@document), url_opts: Blacklight::Parameters.sanitize(params.to_unsafe_h))) %>
      <% else %>
        <% Deprecation.warn(self, '#render_show_doc_actions is deprecated; use ActionComponents instead') %>
        <ul class="nav list-group list-group-flush">
          <%= render_show_doc_actions @document do |config, inner| %>
            <% if config.key.to_s != 'sms' %>
              <li class="list-group-item tools-links <%= config.key %>">
                <%= inner %>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
      </div>
    </div>
  </div>
<% end %>
