<div class="container">
  <div class="u-heading-v2-5--bottom g-brd-primary ">
    <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0 g-mt-40">Oral History Training
    </h2>
  </div>

  <p class="lead g-px-60--md g-mb-40 g-mt-40">
    The Center for Oral History Research offers two-session workshops for UCLA students, faculty, and staff that provide an introduction to the basics of oral history methodology. The workshops are offered twice a year, once in the fall and once in the spring. Topics covered include
  </p>

  <ul class="lead g-px-60--md g-mb-40 g-mt-40 g-ml-40">
    <li>Interview outlines and questions</li>
    <li>Effective interviewing techniques</li>
    <li>Legal and ethical concerns</li>
  </ul>

  <p class="lead g-px-60--md g-mb-40 g-mt-40">
    The first session covers general issues and skills involved in conducting an oral history, and the second session focuses on developing and refining participants' own projects and providing feedback on interview design and techniques. Members of the general public can attend the workshops on a space-available basis.
  </p>
  <p class="lead g-px-60--md g-mb-40">
  For further information, contact Teresa Barnett at <%= mail_to("tbarnett@library.ucla.edu", "tbarnett@library.ucla.edu") %>.
  </p>
  <p class="lead g-px-60--md g-mb-40">
    Members of the general public interested in oral history training can also contact the <%= link_to 'Southwest Oral History Association', 'https://www.southwestoralhistory.org/', target: '_blank', rel: 'noopener' %> or the <%= link_to 'Oral History Association', 'https://www.oralhistory.org/', target: '_blank', rel: 'noopener' %>; both offer workshops at their annual conferences. For people in the Southern California area, <%= link_to 'The Lawrence de Graaf Center for Oral and Public History', 'http://coph.fullerton.edu/', target: '_blank', rel: 'noopener' %> at California State University, Fullerton offers regular oral history workshops every February and September. On-line oral history workshops are also available through Baylor University’s <%= link_to 'Institute for Oral History', 'https://www.baylor.edu/library/index.php?id=974108', target: '_blank', rel: 'noopener' %>.
  </p>
</div>
