  <!-- Our Collections -->
  <div class="container-fluid">
    <section class="margin-bottom-50">
      <div class="container">
        <header class="g-mb-50">
          <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
            <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">View Our Collections</h2>
          </div>

        </header>

        <div class="row">
          <div class="col-lg-4 col-md-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                <%= image_tag("african_american_history.jpg", :alt => "African American History Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
              </figure>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white ">
                <h3 class="h4">
                    <a class="g-color-white" href="#">African American History</a>
                  </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-4 col-md-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                <%= image_tag("asian_american_history.jpg", :alt => "American Indian History Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
              </figure>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white ">
                <h3 class="h4">
                    <a class="g-color-white" href="#">American Indian History</a>
                  </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-4 col-md-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                <%= image_tag("asian_american_history.jpg", :alt => "Arts, Literature, Music, and Film History Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
              </figure>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white ">
                <h3 class="h4">
                    <a class="g-color-white" href="#">Arts, Literature, Music, and Film</a>
                  </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-4 col-md-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                <%= image_tag("asian_american_history.jpg", :alt => "Asian American History Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
              </figure>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white ">
                <h3 class="h4">
                    <a class="g-color-white" href="#">Asian American History</a>
                  </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-4 col-md-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                <%= image_tag("business.jpg", :alt => "Business History Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
              </figure>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                    <a class="g-color-white" href="#">Business</a>
                  </h3>
              </header>


            </article>
          </div>

          <div class="col-lg-4 col-md-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                <%= image_tag("community.jpg", :alt => "Community History Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
              </figure>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                    <a class="g-color-white" href="#">Community History</a>
                  </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-4 col-md-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                <%= image_tag("community.jpg", :alt => "Education Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
              </figure>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                    <a class="g-color-white" href="#">Education</a>
                  </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-4 col-md-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                <%= image_tag("community.jpg", :alt => "German Émigrés Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
              </figure>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                    <a class="g-color-white" href="#">German Émigrés</a>
                  </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-4 col-md-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                <%= image_tag("community.jpg", :alt => "Iranian Americans Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
              </figure>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                    <a class="g-color-white" href="#">Iranian Americans</a>
                  </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-4 col-md-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                <%= image_tag("community.jpg", :alt => "Journalism Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
              </figure>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                    <a class="g-color-white" href="#">Journalism</a>
                  </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-4 col-md-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                <%= image_tag("community.jpg", :alt => "Latina and Latino History Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
              </figure>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                    <a class="g-color-white" href="#">Latina and Latino History</a>
                  </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-4 col-md-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                <%= image_tag("community.jpg", :alt => "Military History Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
              </figure>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                    <a class="g-color-white" href="#">Military History</a>
                  </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-4 col-md-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                <%= image_tag("community.jpg", :alt => "Politics and Government Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
              </figure>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                    <a class="g-color-white" href="#">Politics and Government</a>
                  </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-4 col-md-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                <%= image_tag("sports.jpg", :alt => "Sports Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
              </figure>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                    <a class="g-color-white" href="#">Sports</a>
                  </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-4 col-md-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                <%= image_tag("community.jpg", :alt => "UCLA and University of California History Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
              </figure>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                    <a class="g-color-white" href="#">UCLA and University of California History</a>
                  </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-4 col-md-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                <%= image_tag("community.jpg", :alt => "Urban Planning and Land Use Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
              </figure>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                    <a class="g-color-white" href="#">Urban Planning and Land Use</a>
                  </h3>
              </header>
            </article>
          </div>

          <div class="col-lg-4 col-md-6 g-mb-30">
            <article class="u-block-hover u-shadow-v21 rounded">
              <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                <%= image_tag("community.jpg", :alt => "Donated Oral Histories Collection", :class=> "img-fluid w-100 u-block-hover__main--zoom-v1") %>
              </figure>

              <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                <h3 class="h4">
                    <a class="g-color-white" href="#">Donated Oral Histories</a>
                  </h3>
              </header>
            </article>
          </div>

        </div>
      </div>
    </section>
  </div>
    <!-- End Our Collections -->