<%= content_for(:head) do %>
  <%= javascript_pack_tag "audio_player" %>
<% end %>
<div class="container">
  <% parsed_children = children_from(document) %>
  <%= react_component('AudioPlayer', url: parsed_children.try(:first).try(:[], "url_t"), image: "/avatar.png") %>
  <% parsed_children.each do |child| %>
    <%= child %>
  <% end %>

  <%= react_component('PlayButton', url: "/lastdance.mp3", image: "/avatar.png") %>
  <% doc_presenter = show_presenter(document) %>
  <%# default partial to display solr document fields in catalog show view -%>
  <dl class="dl-horizontal  dl-invert show-page">
    <% document_show_fields(document).each do |field_name, field| -%>
      <% if should_render_show_field? document, field %>
  	    <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
  	    <dd class="blacklight-<%= field_name.parameterize %>"><%= doc_presenter.field_value field_name %></dd>
      <% end -%>
    <% end -%>
  </dl>
</div>
